<div class="container">
  <h2>Employee Leave Registration</h2>

  <form #leaveForm="ngForm">
    <div class="form-group">
      <label for="leaveType">Leave Type:</label>
      <select class="form-control" id="leaveType" name="leaveType" [(ngModel)]="leaveType" (change)="changeInputValue()">
        <option [ngValue]="null">Select Leave Type</option>
        <option *ngFor="let type of leaveTypes" [ngValue]="type.id">{{ type.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="leaveDays">Leave Days:</label>
      <input class="form-control" type="number" id="leaveDays" name="leaveDays" [(ngModel)]="leaveDays" [disabled]="!isLeaveDaysEnabled">
    </div>
  </form>
</div>
